# Test Notebook

In [1]:
import bokeh

In [2]:
bokeh.__version__

'0.11.1'

In [ ]:
import blaze

In [ ]:
blaze.__version__

In [5]:
import netCDF4

In [6]:
import boto

In [7]:
import pandas as pd

In [8]:
df = pd.read_csv('data/iris.csv')

In [9]:
df.head()

   Unnamed: 0  SepalLength  SepalWidth  PetalLength  PetalWidth Species
0           1          5.1         3.5          1.4         0.2  setosa
1           2          4.9         3.0          1.4         0.2  setosa
2           3          4.7         3.2          1.3         0.2  setosa
3           4          4.6         3.1          1.5         0.2  setosa
4           5          5.0         3.6          1.4         0.2  setosa

In [10]:
df = pd.read_csv('data/World_Country_Boundaries.csv.gz')

In [11]:
df.head()

,geometry,ISO_2DIGIT,Name
0,<Polygon><outerBoundaryIs><LinearRing><coordin...,AD,Andorra
1,<Polygon><outerBoundaryIs><LinearRing><coordin...,AE,United Arab Emirates
2,<Polygon><outerBoundaryIs><LinearRing><coordin...,AF,Afghanistan
3,<Polygon><outerBoundaryIs><LinearRing><coordin...,AG,Antigua & Barbuda
4,<Polygon><outerBoundaryIs><LinearRing><coordin...,AI,Anguilla